---
import { SITE_CONFIG } from '~/utils/config';
import Logo from '~/assets/images/logo2.svg';
import Image from './common/Image.astro';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold whitespace-nowrap dark:text-white">
  <!--Image src={Logo} alt={SITE_CONFIG?.name} class="w-8 h-8 md:w-10 md:h-10" /> -->

 <div class="flex flex-row gap-2 items-center"> 
 <Image src={Logo} alt={SITE_CONFIG?.name} class="w-5 h-5 md:w-6 md:h-6" />



<span class="text-primary-700 text-lg align-top">
  {SITE_CONFIG?.name} 
</span>


</div>


</span>
